@inherits LayoutComponentBase

<header>
    <a href="/" alt="Dcidr Home">
        <img src="images/dcidr.svg" />
    </a>
</header>

<main>
    <div class="container">
        @Body
    </div>
</main>

<footer>
    <p>
    For entertainment purposes only.
    </p>
    <p>
        &copy; @DateTime.Now.Year Tim Plourde
        &middot; 
        <a href="mailto:tplourde@gmail.com">email</a>
        &middot; 
        <a href="https://github.com/timplourde/dcidr-blazor">GitHub</a>
    </p>
</footer>
