@page "/"
@inject DcidrAppModel AppModel
@inject NavigationManager NavigationManager

    <div class="text-center fade-in">
        <h1 tabindex="-1">Complex decisions made easy.</h1>

        <p class="mb-4">Use this app to make any decision involving multiple <strong>options</strong> and <strong>criteria</strong>.  </p>

        <p class="mb-2">
            <button class="d-btn d-btn-primary big-juicy" title="New Decision" @onclick="NewDecision">
                New Decision
            </button>
        </p>

        <p>
            <NavLink class="d-btn" href="archive" title="Archive">
                <img src="images/hard-drive.svg" /> 
                Archive
            </NavLink>
        </p>

    </div>


@code {
    private void NewDecision()
    {
        AppModel.NewDecision();
        NavigationManager.NavigateTo("options");
    }
}