<li class="decision-item d-flex justify-content-between">
    <div>@Item</div>
    <div class="decicion-item-delete" @onclick="OnDelete" title="Delete">🗑️</div>
</li>

@code {
    [Parameter]
    public string Item { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnDelete { get; set; }
}
