@page "/compare-criteria"
@inject DcidrAppModel AppModel
@using Dcidr.Blazor.Shared
@inject NavigationManager NavigationManager

    <div class="fade-in">

        <h1>Compare criteria</h1>

        <p class="mb-3">
            Complete each sentence.
        </p>

        <div class="comparison-container-list d-flex flex-wrap ">
            @foreach (var cc in AppModel.Decision.CriteriaComparisons)
            {
                <CriteriaComparisonInput @key="@cc.GetHashCode()" Item="@cc" WeightChanged="StateHasChanged" />
            }
        </div>

        <hr />

        <div class="d-flex justify-content-between mb-3">

            <NavLink class="d-btn" href="compare-options" title="Back">
                <img src="images/arrow-left.svg" /> Back
            </NavLink>

            @if (AppModel.Decision.ResultPrerequisitesMet)
            {
                <NavLink class="d-btn d-btn-primary" title="View Results" href="results">
                    View Results <Dcidr.Blazor.Shared.InlineSvg.ArrowRight />
                </NavLink>
            }
        </div>

        <DecisionDebug />
    </div>


@code {
    protected override void OnInitialized()
    {
        if (!AppModel.Decision.HasEnoughCriteria || !AppModel.Decision.AllOptionComparisonsHaveWeights)
        {
            NavigationManager.NavigateTo("/compare-options");
        }
    }
}
