@page "/compare-options"
@inject DcidrAppModel AppModel
@using Dcidr.Blazor.Shared
@inject NavigationManager NavigationManager

<h1>Compare options</h1>

<p class="mb-3">
    <small>Complete each sentence.</small>
</p>

<div class="comparison-container-list d-flex flex-wrap ">
    @foreach (var oc in AppModel.Decision.OptionComparisons)
    {
        <OptionComparisonInput @key="@oc.GetHashCode()" Item="@oc" WeightChanged="StateHasChanged" />
    }
</div>


<hr/>

<div class="d-flex justify-content-between  mb-3">
    <NavLink class="d-btn" href="options">&lt;&nbsp;Back</NavLink>
    @if (AppModel.Decision.AllOptionComparisonsHaveWeights)
    {
        <NavLink class="d-btn d-btn-primary" href="compare-criteria">Continue&nbsp;&gt;</NavLink>
    }
</div>

<DecisionDebug />

@code {
    protected override void OnInitialized()
    {
        if (!AppModel.Decision.HasEnoughCriteria)
        {
            NavigationManager.NavigateTo("/options");
        }
    }
}