@page "/"
@inject DcidrAppModel AppModel
@inject NavigationManager NavigationManager

<h1>Hello, world!</h1>

<p>
    <button @onclick="NewDecision">New Decision</button>
</p>

<p>
    <NavLink href="archive">Archive</NavLink>
</p>


@code {
    private void NewDecision()
    {
        AppModel.NewDecision();
        NavigationManager.NavigateTo("criteria");
    }
}