@page "/"
@inject DcidrAppModel AppModel
@inject NavigationManager NavigationManager

    <div class="text-center">
        <h1>Complex decisions made easy.</h1>

        <p class="mb-4">Use this app to make any decision involving multiple <strong>options</strong> and <strong>criteria</strong>.  </p>

        <p class="mb-2">
            <button class="d-btn d-btn-primary" @onclick="NewDecision">New Decision</button>
        </p>

        <p>
            <NavLink class="d-btn" href="archive">Archive</NavLink>
        </p>

    </div>


@code {
    private void NewDecision()
    {
        AppModel.NewDecision();
        NavigationManager.NavigateTo("criteria");
    }
}